/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 36px;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  border: dashed 5px black;
}

.item {
  --hue: 0;
  text-align: center;
  background-color: hsl(var(--hue), 100%, 70%);
}

footer {
  margin-top: 300px;
  text-align: center;
}