/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 50vh;
  display: flex;
  border: dashed 5px black;
  align-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 120px;
  --hue: 0;
  text-align: center;
  background-color: hsl(var(--hue), 100%, 70%);
}

footer {
  margin-top: 300px;
  text-align: center;
}